.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.user-profile {
    width: 60%;
}
.header-user-profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-profile {
    display: flex;
    align-items: flex-start;
}

.header-profile-name {
    margin-left: 1.5rem;
    h1 {
        line-height: 3rem;
    }
    h4 {
        margin: 0.8rem 0;
    }
}

.user-count {
    display: flex;
    margin: 1rem 0 0 1rem;
    p {
        display: flex;
        margin-right: 1rem;
        h4 {
            margin-right: 0.3rem;
        }
    }
}
.text-note {
    color: var(--default-color-text-note);
}
.bio {
    margin: 1rem 0 0 1rem;
    font-size: 1.6rem;
}
.form-item {
    margin-bottom: 0;
}
.input {
    background-color: rgba(22, 24, 35, 0.06);
}
.ant-form-item-control-input-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
