.wrapper {
    display: flex;
    width: 100%;
    max-height: 715px;
    overflow: hidden;
    
    .image {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}
.render-video {
    width: 65%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // height: 100%;
}
.interact {
    width: 35%;
    margin: 20px;
}
.ant-carousel {
    width: 100%;
}

.back-navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(59, 56, 56);
    border-radius: 50%;
    cursor: pointer;
    top: 20px;
    left: 20px;
    &:hover {
        background-color: rgb(44, 42, 42);
    }
    z-index: 99;
}

.button-back {
    color: #fff;
    font-size: 2.5rem;
}
.icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.type {
    display: flex;
    margin-right: 30px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 8px;
    p {
        font-size: 12px;
        font-weight: 600;
    }
    cursor: pointer;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--default-background-color);
    .icon-interact {
        width: 18px;
        height: 16px;
    }
}
.comment {
    height: 360px; /* Đặt chiều cao cho phần tử */
    overflow: auto;
}

.account-comment {
    display: flex;
    margin: 15px 0;
}

.user-account {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.user-info {
    display: flex;
    flex-direction: column;

    .time-created {
        font-size: 1.2rem;
    }
}

.nickname {
    font-size: 14px;
}

.check {
    color: rgb(32, 213, 236);
    padding-left: 2px;
    height: 14px;
    width: 14px;
}
.like-quantity {
    margin-right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin-left: 5px;
}
.isActive {
    color: var(--primary);
}
